/* Reset CSS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    overflow: hidden;
}


/* Fim reset CSS */


/* O container precisa ter largura de 100% e altura 100% pra que cada item tenha uma referencia de tamanho 
   * display flex coloca todos lado a lado
   * justify-content alinha todos no centro do eixo X (horizontal)
   * align-items alinha os items no eixo Y (vertical)
  */

.box {
    display: none;
    width: 750px;
    height: 500px;
    background: #000000b2;
    flex-wrap: wrap;
    border-radius: 10px;
    top: 25%;
    left: 25%;
    overflow: auto;
    position: absolute;
}

.box h2 {
    text-align: center;
    position: absolute;
    margin: 0;
    border-radius: 25px;
    background:#0d7fe9;
    color: #fff;
    width: 740px;
    padding: 5px;
    border-radius: 1px;
    font-size: 1.3em;
    text-transform: uppercase;
}

#close {
    color: #000;
    position: absolute;
	top: 24%;
    right: 2%;
    cursor: pointer;
    font-size: 0.9em;
    color: #fff;
}

.item {
    margin-top: 60px !important;
    width: 260px;
    min-height: 400px;
    border-radius: 10px;
    margin: 10px;
    float: left;
}

label {
    text-align: center;
    width: 300px;
    font-weight: Calibri;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
}

select {
    height: 350px !important;
}

.grupo {
    width: 260px;
    background: #0d7fe9;
    color: #fff;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 7px;
    cursor: pointer;
}

.player {
    width: 260px;
    background:#0d7fe9;
    color: #fff;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 7px;
    cursor: pointer;
}

.botao {
    position: absolute;
    border-radius: 10px;
    top: 80px;
    right: 50px;
    text-align: right;
}

.btn-info {
    background:  #0d7fe9;
    border-radius: 10px;
    border: 0px;
    color: #fff;
    font-size: 1.2em;
    padding: 20px;
}
/* width */

::-webkit-scrollbar {
    width: 10px;
}


/* Track */

 ::-webkit-scrollbar-track {
    background:#0d7fe9;
    border-radius: 10px;
}


/* Handle */

 ::-webkit-scrollbar-thumb {
    background: rgb(0, 0, 0);
    border-radius: 10px;
}


/* Handle on hover */

 ::-webkit-scrollbar-thumb:hover {
    background: rgb(0, 0, 0);
    border-radius: 10px;
}
