body {
  margin: 0px;
  padding: 0px;
  color: #FFF;
  font-family: 'Montserrat', sans-serif;
  background: transparent;
}



img{
  position: absolute;
	left: 44%;
  top: 15%;
  overflow: hidden;
  animation: mvTopp 3s;
}

.blur-mask {
  position: absolute;
  width: 100%;
  height: 100%;
  float: left;
  background: rgba(0, 0, 0, 0.5);
  -webkit-filter: blur(50px);
  -moz-filter: blur(50px);
  -o-filter: blur(50px);
  -ms-filter: blur(50px);
  filter: blur(50px);
}

.inventory-mask {
  display: none;
}

.inventory-mask {
  position: absolute;
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0px;
  padding: 0px;
  background: rgba(15, 15, 15, 0.5);
  overflow: hidden;
}

.inventory-content {
  max-width: 1000px;
  height: 450px;
  width: 31%;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%); /* IE 9 */
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  position: absolute;
  border-radius: 10px;
  left: 50%;
  top: 50%;
  z-index: 999;
  overflow: hidden;
  animation: mvTop 1.5s;
}

.title-section {
  background-color: rgba(15, 15, 15, 0.5);
  height: 30px;
  width: 95%;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  border-radius: 10px;
  opacity: 0.85;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 1);
  border-bottom: 3px solid rgb(255, 84, 150);
}

.title-section.o {
  color: #fff;
}

.dropped .elements {
  width: 100%;
  height: auto;
  max-height: 400px;
  padding-bottom: 25px;
  overflow: auto;
}

.dropped .cell {
  padding: 5px !important;
  margin: 5px 0px !important;
  background-color: rgba(0, 0, 0, 0.6);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  height: auto;
}

.dropped .cell .image {
  width: 70px;
  height: 70px;
  background-size: 100%;
}

.dropped .cell .name, .dropped .cell .amount {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 500;
  font-size: 11px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.dropped .cell .amount {
  color: rgba(255, 255, 255, 0.8);
  text-align: right;
}

.objects {
  padding-bottom: 25px;
  height: auto;
  max-height: 400px;
  margin: 0px;
  overflow: visible;
  overflow-y: auto;
}

.objects .cell {
  /*flex: 0 0 16%;
  max-width: 16%;*/
  background-image: linear-gradient(to bottom, rgba(15, 15, 15, 0.553), rgba(15, 15, 15, 0.429), rgba(15, 15, 15, 0.100));
  width: 30%;
  margin: 5px;
  padding: 5px 0px;
  transition: transform .2s; /* Animation */
  padding-bottom: 50px;
  border-radius: 5px;
  color: #fff !important;
  position: relative;
}

.objects .cell:hover {
  transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
	border-bottom: 3px solid rgb(255, 84, 150);
}

.objects .cell .row {
  padding: 0px !important;
  margin: 0px !important;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.objects .cell .amount {
  font-size: 12px;
  font-weight: 900;
  color: rgba(255, 255, 255, 0.6) !important;
}

.objects .cell .row .image {
  width: 50px;
  height: 50px;
  background-size: 100%;
  justify-content: center;
  margin: 0px auto;
}

.objects .cell .row .name {
  width: 100%;
  padding: 0px 10px;
  position: absolute;
  bottom: 5px;
  justify-content: center;
  font-size: 11px;
  font-weight: 500;
  color: #fff !important;
  height: 40px;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.objects .cell .row .name i {
  display: contents;
}

.objects .options {
  position: absolute;
  right: 15px;
  top: 0;
  z-index: 5;
  display: none;
}

.objects .options .option {
  width: auto;
  height: 29px;
  background: rgb(255, 84, 150);
  border-radius: 5px;
  color: #fff;
  padding: 7px 10px;
  text-align: center;
  font-size: 12px;
  font-weight: 700;
  margin-top: 3px;
  box-shadow: 0 0 10px #0006;
}

.objects .amount-option {
  display: none;
  width: 85px;
  position: absolute;
  right: 10px;
  top: 0px;
  z-index: 5;
  color: #fff;
  font-size: 12px;
  padding: 10px;
  border-radius: 5px;
}

.amount-option .left, .amount-option .right {
  width: 10%;
  cursor: pointer;
}

.amount-option .center {
  width: 80%;
  font-size: 15px;
  font-weight: 700;
}

.amount-option .button {
  width: 100%;
  outline: 0;
  padding: 5px;
  background: rgb(255, 84, 150);
  border: 0px;
  border-radius: 5px;
  color: #FFF;
  font-weight: 700;
  margin-top: 3px;
}

.amount-option .button.cancel {
  background: rgb(255, 84, 150);
  color: #FFF;
}

::-webkit-scrollbar
{
    width: 3px;   /*for vertical scrollbars*/ 
    height: 12px;  /*for horizontal scrollbars*/ 
}

::-webkit-scrollbar-track
{
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border: 3px solid transparent;
    border-radius: 9px;
    -moz-background-clip: content-box;
    -webkit-background-clip: content-box;
    background-clip: content-box;
}


@keyframes buzz {
	10% {
	  -webkit-transform: translateX(3px) rotate(2deg);
	  transform: translateX(3px) rotate(2deg);
	}
	20% {
	  -webkit-transform: translateX(-3px) rotate(-2deg);
	  transform: translateX(-3px) rotate(-2deg);
	}
	30% {
	  -webkit-transform: translateX(3px) rotate(2deg);
	  transform: translateX(3px) rotate(2deg);
	}
	40% {
	  -webkit-transform: translateX(-3px) rotate(-2deg);
	  transform: translateX(-3px) rotate(-2deg);
	}
	50% {
	  -webkit-transform: translateX(2px) rotate(1deg);
	  transform: translateX(2px) rotate(1deg);
	}
	60% {
	  -webkit-transform: translateX(-2px) rotate(-1deg);
	  transform: translateX(-2px) rotate(-1deg);
	}
	70% {
	  -webkit-transform: translateX(2px) rotate(1deg);
	  transform: translateX(2px) rotate(1deg);
	}
	80% {
	  -webkit-transform: translateX(-2px) rotate(-1deg);
	  transform: translateX(-2px) rotate(-1deg);
	}
	90% {
	  -webkit-transform: translateX(1px) rotate(0);
	  transform: translateX(1px) rotate(0);
	}
	100% {
	  -webkit-transform: translateX(-1px) rotate(0);
	  transform: translateX(-1px) rotate(0);
	}
  }

  @keyframes mvTop {
    0% {
      top: -150px;
   }
    100% {
      top: 50x;
   }
 }

 @keyframes mvTopp {
  0% {
    top: -150px;
 }
  100% {
    top: 15x;
 }
}