body{
    user-select: none;
    overflow: hidden;

}

@font-face{
    font-family: 'codecProLight';
    src: url('font/Montserrat-Light.ttf')
}

@font-face{
    font-family: 'poppinsRegular';
    src: url('font/poppins-regular.ttf')
}





.alteracoes-sem-transformroupa input[type=range] {
    outline: none;
    -webkit-appearance: none;
}

.alteracoes-sem-transformroupa input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none; /* remove estilo padrão do browser */
    background: white;
    position: relative;
    bottom: 0.5vw;
    height: 1vw;
    width: 1vw;
    border-radius: 2vw;
    z-index: 999999;
    transition: 0.5s;
}

.alteracoes-sem-transformroupa input[type=range]::-webkit-slider-thumb:hover{
    box-shadow: 0px 0px 5px #ffffff, 0px 0px 1px #ffffff; /* Add cool effects to your sliders! */

}



.alteracoes-sem-transformroupa   input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 0.5px;
    background: white;
  }

  .alteracoes-fisicasroupa{
    position: absolute;
    width: 5.6vw;
    height: 37vw;
    top: 0vw;
    right: -6.3vw;
    border-radius: 0.7vw;
    background-color: rgba(12, 12, 12, 0.637);
    z-index: 999;
}

.box-alteracoesroupa{
    position: relative;
    top: 1vw;
    left: 0.6vw;
    height: 35vw;
    transform:skewY(177deg);
    width: 4.6vw;
    overflow-y: auto;
    overflow-x: hidden;
    transform: scaleY(177deg);
}

.box-alteracoesroupa::-webkit-scrollbar {
    width:0.25vw;
}
.box-alteracoesroupa::-webkit-scrollbar-thumb {
    background: #ffffff;
    border-radius: 1vw;

}

.itemroupa{
    position: relative;
    left: 0.2vw;
    width: 3.5vw;
    height: 5vw;
    background-color: rgba(122, 122, 122, 0.315);
    margin-bottom: 0.7vw;
    border-radius: 0.2vw;
    color: black;
    border: 0.1px solid transparent;
    transition: 0.4s;
    filter: invert(100%);
    overflow: hidden;

}

.itemroupa:hover{
    box-shadow: 0px 0px 15px -7px #FFFFFF;
    color: black;
    border: 0.1px solid black;
    background-color: rgba(119, 119, 119, 0.418);

}
.itemroupa:after {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.479),rgba(0, 0, 0, 0));
    content: "";
    height: 170%;
    left: -5.2vw;
    position: absolute;
    top: -2.2vw;
    transform: rotate(35deg);
    transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
    width: 3vw;
    z-index: 109999;
  }
  

.itemroupa:hover:after{
    left: 160%;
    transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
}


.itemroupa.acdicional{
    box-shadow: 0px 0px 15px -7px #FFFFFF;
    color: black;
    border: 0.1px solid black;
    background-color: rgba(119, 119, 119, 0.418);
}

.name-itemroupa{
    font-family: 'codecProLight';
    text-align: center;
    font-size: 0.7vw;
    position: relative;
    display: block;
    top: 3.9vw;
}

.itemroupa img{
    position: absolute;
    top: 1vw;
    left: 0.6vw;
    width: 1.8vw;
}

#texto-inicialroupa{
    font-family: 'codecProLight';
    color: white;
    text-align: center;
    line-height: 2vw;
    font-size: 1vw;
    position: relative;
    height: 20vw;
    text-shadow: 0px 0px 7px #000000;
}

#texto-inicialroupa img{
    width: 0.7vw;
    filter: drop-shadow(1px 1px 3px rgb(255, 255, 255));

}

.zoom-escolharoupa{
    position: relative;
    left: 40vw;
    height: 20vw;
    width: 20vw;
    top: 7vw;
    z-index: 99999;

}

.zoom-escolharoupa input[type=range] {
    outline: none;
    -webkit-appearance: none;
    height: 0.1vw;
    width: 16vw;
    position: relative;
    top: 0.15vw;
}

.zoom-escolharoupa input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none; /* remove estilo padrão do browser */
    background: white;
    position: relative;
    height: 1vw;
    width: 1vw;
    border-radius: 2vw;
    z-index: 999999;
    transition: 0.5s;
}

.zoom-escolharoupa input[type=range]::-webkit-slider-thumb:hover{
    box-shadow: 0px 0px 5px #ffffff, 0px 0px 1px #ffffff; /* Add cool effects to your sliders! */

}



.alteracoes-sem-transformroupa   input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 0.5px;
    background: white;
}

.input-zoomroupa{
    background-color: rgba(0, 0, 0, 0.411);
    width: 17vw;
    height: 1.7vw;
    padding-left: 1vw;
    border-radius: 5vw;
}

#rotate-zoomroupa{
    position: relative;
    right: 10vw;
    bottom: 1vw;
}

.zoom{
    position: relative;
    left: -11vw;
    top: -1vw;
    transform: rotate(-90deg);
}

#rotate-input{
    position: relative;
    left: 10vw;
    top: 16vw;
    transform: rotate(90deg);
}

.bubbleroupa {
    display: none;
    background: rgb(0, 0, 0);
    color: white;
    padding: 0.5vw;
    bottom: 2vw;
    position: absolute;
    border-radius: 0.3vw;
    transform: translateX(-50%);
    font-family: 'codecProLight';
    text-align: center;
    font-size: 0.8vw;
  }
  .bubbleroupa::after {
    content: "";
    position: absolute;
    width: 0.5vw;
    height: 0.5vw;
    background: rgb(0, 0, 0);
    bottom: -0.1vw;
    transform: rotate(45deg);
    left: 50%;
  }
  

.rotacaoroupa{
    position: relative;
    top: 1vw;
}

.title-inputsroupa{
    font-family: 'codecProLight';
    color: white;
    text-align: center;
    position: relative;
    font-size: 1vw;
}

.confirmacaoroupa{
    position: absolute;
    top: 0vw;
    left: 0vw;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.61);
    z-index: 999999;
}

.box-confirmationroupa{
    position: relative;
    top: 15vw;
    left: 30vw;
    width: 28vw;
    height: 12.5vw;
    background-color: rgba(0, 0, 0, 0.459);
    border-radius: 0.9vw;
    overflow: hidden;

}

.titulo-confmationroupa{
    font-family: 'codecProLight';
    color: white;
    text-align: center;
    font-size: 1.3vw;
    position: relative;
    top: 1.5vw;
}

.sub-title-confiramtionroupa{
    font-family: 'codecProLight';
    color: white;
    text-align: center;
    font-size: 1.2vw;
    position: relative;
    top: 3vw;
}

.buttonConfimationroupa{
    position: relative;
    top: 5.5vw;
    width: 49.8%;
    height: 3vw;
    float: left;
    text-align: center;
    color: white;
    font-family: 'codecProLight';
    font-size: 1.2vw;
    line-height: 2.6vw;
    background-color: rgba(0, 0, 0, 0.116);

}

.aceitarroupa{
    border-right: solid 0.1px rgba(0, 0, 0, 0.281);
    color: rgb(139, 255, 103);
}

.aceitarroupa:hover{
    color: white;
    background-image: linear-gradient(to right, #165c36e0,#164530e0);
}

.rejeiarroupa{
    color: rgb(255, 103, 103);

}

#todas-as-roupasroupa{
    width: 100%;
    height: 28vw;
}

.rejeiarroupa:hover{
    color: white;
    background-image: linear-gradient(to right, #531b1be0,#8f2323e0);
}

.buttonsroupa{
    position: relative;
    right: 6vw;
}

.carrinhodecompraroupa{
    position: relative;
    left: 16.5vw;
    bottom: 2.1vw;
    width: 7vw;
    height: 3.2vw;
    color: white;
    text-align: center;
    font-size: 1.2vw;
    line-height: 3vw;
    font-family: 'codecProLight';
    background-color: rgba(12, 12, 12, 0.637);
    border-radius: 0.4vw;
}

.trocarCorroupa{
    position: relative;
    width: 14.5vw;
    height: 3.2vw;
    bottom: 0.5vw;
    color: white;
    text-align: center;
    font-size: 1.2vw;
    line-height: 3vw;
    font-family: 'codecProLight';
    background-color: rgba(12, 12, 12, 0.637);
    border-radius: 0.4vw;
    overflow: hidden;
    float: left;
    transition: 0.5s;
}

.trocarCorroupa:hover{
    transform: translateY(-3px);
}


.cor-roupa{
    position: relative;
    overflow:hidden;

    background-color: rgba(12, 12, 12, 0.637);
    width: 2vw;
    height: 2vw;
    float: left;
    margin-left: 0.2vw;
    margin-right: 0.2vw;
    color: white;
    line-height: 2vw;
    text-align: center;
    border-radius: 0.2vw;
}

.color-tudoroupa{
    position: relative;
    bottom: 4.8vw;
    left: 24vw;

}

.cor-roupa:after {
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0),rgba(255, 255, 255, 0.479),rgba(255, 255, 255, 0));
    content: "";
    height: 12vw;
    left: -6vw;
    position: absolute;
    top: -2vw;
    transform: rotate(35deg);
    transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
    width: 3vw;
    z-index: 109999;
  }


.cor-roupa:hover:after{
    left: 150%;
    transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
}


#preto-backroupa{
    position: absolute;
    width: 100vw;
    height: 100vh;
    left: 0vw;
    top: 0vw;
    z-index: 999;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.63),rgba(0, 0, 0, 0.308),transparent,transparent,transparent,rgba(0, 0, 0, 0.308),rgba(0, 0, 0, 0.63));

}

.todas-as-informacoesroupa{
    position: absolute;
    right: 9vw;
    top: 8vw;
    transform:skewY(-177deg);

}

.overlay{
    position: relative;
    top: 4vw;
    line-height: 2vw;
    height: 2vw;
    font-family: 'codecProLight';
    font-size: 0.7vw;
    color: white;
    text-align: center;
    background-color: rgba(8, 8, 8, 0.795);
}

.img-clothe{
    position: relative;
    left: 0vw;
    width: 5vw;
    height: 5.5vw;
    background-image: url('tatuagens/Male/mpairraces_overlays/MP_Airraces_Tattoo_006_M.jpg');    
    overflow: hidden;
    float: left;
    margin: 0.3vw;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 99%;
    border-radius: 0.4vw;
    transition: 0.4s;
}

.img-clothe:hover{
    background-size: 110% 110%;
}


.btnlimpar {
    cursor: pointer;
    font-size: 1vw;
    line-height: 3.2vw;
    position: relative;
    text-decoration: none;
    text-align: center;
    font-family: 'codecProLight';
    left: 0vw;
    top: -0.5vw;
    width: 15vw;
    background-color: red;
    z-index: 999999;
}

.btnlimpar:hover {
    text-decoration: none;
}

.btnroupa {
    cursor: pointer;
    font-size: 1vw;
    line-height: 3.2vw;
    position: relative;
    text-decoration: none;
    text-align: center;
    font-family: 'codecProLight';
    left: 6vw;
    top: 1vw;
    width: 10vw;
    background-color: red;
    z-index: 999999;
  }
  .btnroupa:hover {
    text-decoration: none;
  }

.effect04roupa {
    --uismLinkDisplay: var(--smLinkDisplay, inline-flex);
    display: var(--uismLinkDisplay);
    color: white;
    position: relative;
    background-color: rgba(12, 12, 12, 0.637);
    transition-duration: 0.4s;
    border-radius: 0.5vw;
    overflow: hidden;
}
  
.effect04roupa::before,
.effect04roupa span{
    margin: 0 auto;
    transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
    transition-duration: 0.4s;
}
  
.effect04roupa:hover{
    background-color: rgba(0, 0, 0, 0.836);
}
  
.effect04roupa:hover span{
    -webkit-transform: translateY(-400%) scale(-0.1,20);
            transform: translateY(-400%) scale(-0.1,20);
}
  
.effect04roupa::before{
    content: attr(data-sm-link-text);
    color: #FFF;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    -webkit-transform: translateY(500%) scale(-0.1,20);
        transform: translateY(500%) scale(-0.1,20);
}
  
.effect04roupa:hover::before{
    letter-spacing: 0.05em;
    -webkit-transform: translateY(0) scale(1,1);
        transform: translateY(0) scale(1,1);
}


.caixa-com-asalteracoesroupa{
    position: relative;
    width: 26.5vw;
    height: 37vw;
    border-radius: 0.7vw;
    background-color: rgba(12, 12, 12, 0.637);
}

.efeitoLimpar {
    --uismLinkDisplay: var(--smLinkDisplay, inline-flex);
    display: var(--uismLinkDisplay);
    color: white;
    position: relative;
    background-color: rgba(12, 12, 12, 0.637);
    transition-duration: 0.4s;
    border-radius: 0.5vw;
    overflow: hidden;
}
  
.efeitoLimpar::before,
.efeitoLimpar span{
    margin: 0 auto;
    transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
    transition-duration: 0.4s;
}
  
.efeitoLimpar:hover{
    background-color: rgba(0, 0, 0, 0.836);
}
  
.efeitoLimpar:hover span{
    -webkit-transform: translateY(-400%) scale(-0.1,20);
            transform: translateY(-400%) scale(-0.1,20);
}
  
.efeitoLimpar::before{
    content: attr(data-sm-link-text);
    color: #FFF;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    -webkit-transform: translateY(500%) scale(-0.1,20);
        transform: translateY(500%) scale(-0.1,20);
}
  
.efeitoLimpar:hover::before{
    letter-spacing: 0.05em;
    -webkit-transform: translateY(0) scale(1,1);
        transform: translateY(0) scale(1,1);
}

.titleroupa{
    position: relative;
    top: 2vw;
    left: 1.5vw;
    font-family: 'poppinsRegular';
    color: white;
    font-size: 1.6vw;
    text-shadow: 0px 0px 7px rgb(0, 0, 0);
}

.alteracoes-sem-transformroupa{
    transform:skewY(177deg);
}

.box-com-caracteristicasroupa{
    width: 89%;
    position: relative;
    top: 3vw;
    left: 1.8vw;
    height: 28vw;
    overflow-y: auto;
    overflow-x: hidden;
}


.box-com-caracteristicasroupa::-webkit-scrollbar {
    width:0.25vw;
}
.box-com-caracteristicasroupa::-webkit-scrollbar-thumb {
    background: #ffffff;
    border-radius: 1vw;

}

.remove-clothes{
    position: absolute;
    left: 4vw;
    top: 13vw;
    width: 5vw;
    height: 29.3vw;
    background-color: rgba(12, 12, 12, 0.637);
    border-radius: 0.3vw;
    transform: scaleY(-177deg);
}

.title-remove{
    position: absolute;
    top: 28.3vw;
    left: 0.2vw;
    font-family: 'codecProLight';
    color: white;
    font-size: 0.6vw;
    width: 10vw;
}

.item-clothes-remove{
    position: relative;
    top: 0.7vw;
    width: 4vw;
    height: 5vw;
    left: 0.5vw;
    margin-bottom: 0.4vw;
    background-color: rgba(122, 122, 122, 0.315);
    border-radius: 0.2vw;
    border: 0.1px solid transparent;
    transition: 0.4s;
    filter: invert(100%);
    overflow: hidden;
}

.item-clothes-remove.active{
    box-shadow: 0px 0px 15px -7px #FFFFFF;
    color: black;
    border: 0.1px solid black;
    background-color: rgba(119, 119, 119, 0.418); 
}


.item-clothes-remove:hover{
    box-shadow: 0px 0px 15px -7px #FFFFFF;
    color: black;
    border: 0.1px solid black;
    background-color: rgba(119, 119, 119, 0.418);

}
.item-clothes-remove:after {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.479),rgba(0, 0, 0, 0));
    content: "";
    height: 170%;
    left: -5.2vw;
    position: absolute;
    top: -2.2vw;
    transform: rotate(35deg);
    transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
    width: 3vw;
    z-index: 109999;
  }
  

.item-clothes-remove:hover:after{
    left: 160%;
    transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
}


.item-clothes-remove img{
    width: 2.6vw;
    position: relative;
    left: 0.7vw;
    top: 0.7vw;
}

.desc-clothes{
    font-family: 'codecProLight';
    text-align: center;
    font-size: 0.8vw;
    position: relative;
    top: 0.7vw;
}


