@import url('https://fonts.googleapis.com/css?family=Titillium+Web&display=swap');

body {
    padding: 0;
    margin: 0;
    overflow: hidden;
    font-family: 'Titillium Web', sans-serif;
    font-weight: lighter;
    display:none;
    background: rgba(15, 15, 15, 0.351);
}

* {
    box-sizing: border-box;
    user-select: none;
}

.line {
    /* width: 100%;
    height: 1px;
    background-color: rgba(153, 142, 130, 0.180);
    border-right: 1px solid #fff;
    border-left: 1px solid #fff; */
}

.lineBottom {
    position: absolute;
    /* bottom: 0;
    width: 100%;
    height: 1px;
    background-color: rgba(153, 142, 130, 0.180);
    border-right: 1px solid #fff;
    border-left: 1px solid #fff; */
}

.container {
    position: absolute;
    top: 20%;
    left: 2%;
    width: 420px;
    height: 160px;
    color: #fff;
    transform: translate(-0%, -50%);
    background: rgba(15, 15, 15, 0.351);
    border: 2px solid #232323;
    transform: perspective(1800px) rotateY(15deg);
    border-radius: 10px;
}

.contentCustom {
    position: relative;
    width: 100%;
    height: 100%;
    /* transform: perspective(4000px) rotate3d(0, 1, 0, 10deg); */
}

.container h1 {
    position: absolute;
    top: -80px;
    font-weight: 100 !important;
}

.menu-option{
    display:none;
}

.customContainer {
    width: 102%;
    height: 100%;
    overflow: auto;
    padding: 10px;
}

.colorPickers { 
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
}
.textcenter {
    text-align: center;
}
.customColors{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}
.customColors div {
    /* float:left; */
    width:33.3%;
}
.customColors div img {
    width:25px;
}
.customColors div span {
    font-size:11px;
}
.cArrows{
    transition: all ease-in 0.1s;
    font-size: 45px !important;
    color:rgb(255, 255, 255);
    box-sizing: border-box;
}
.label{
    float:right;
    width:100%;
    font-size:12px;
}
.cArrows:hover{
    color: #69c5a9;
}

.customContainer .customItem {
    position: relative;
    width: 370px;
    height: 130px;
    /* margin-right: 10px; */
    margin-bottom: 10px;
    /* margin-top: 10px; */
    margin-left: 10px;
    margin-right: 10px;
    display: inline-flex;
    text-align: center;
    -webkit-transition: background-color 0.2s linear;
    -ms-transition: background-color 0.2s linear;
    transition: background-color 0.2s linear;
    transition:all 0.3s ease;
    border-radius: 10px;
}

.customContainer .customItem:hover {
    background-color: #3b63d1;
}

.customContainer .customItem .overlayOpacity {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    filter: blur(8px);
}

.customItem .imgItem img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50px;
    height: 50px;
    margin-right: -50%;
    background-size: cover;
    transform: translate(-50%, -50%)
}

.customItem .imgItem .colorItem {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50px;
    height: 50px;
    margin-right: -50%;
    border-radius: 50%;
    border: 1px solid #fff;
    background-size: cover;
    transform: translate(-50%, -50%)
}

.customContainer .customItem .line-left {
    position: absolute;
    width: 7px;
    height: 2px;
    left: 0;
    background-color: #fff;
}

.customContainer .customItem .line-right {
    position: absolute;
    width: 7px;
    height: 2px;
    right: 0;
    background-color: #fff;
}

.customContainer .customItem .line-bottoml {
    position: absolute;
    width: 7px;
    height: 2px;
    left: 0;
    bottom: 0;
    background-color: #fff;
}

.customContainer .customItem .line-bottomr {
    position: absolute;
    width: 7px;
    height: 2px;
    right: 0;
    bottom: 0;
    background-color: #fff;
}

.customContainer .customItem .haveItem p {
    position: absolute;
    padding: 5px 10px;
    color: #fff;
    font-size: 8px;
    z-index: 999;
    right: 0;
    bottom: 7px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    text-transform: uppercase;
    background-color: #406fd6;
}

.infoOptions {
    margin: 2%;
    font-weight: 50 !important;
    font-style: inherit !important;
    display: inline-flex;
    background: #00000099;
    padding: 4px 10px 4px 10px;
    border-radius: 4px;
    /* font-weight: 800; */
}

.infoOptions #infoText {
    color: #d64040;
    font-weight: 800;
}

.infoOptions .upLine {
    height: 25px;
    width: 2px;
    margin-right: 10px;
    margin-left: 10px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    background-color: rgba(153, 142, 130, 0.180);
}

#textPrice {
    position: relative;
    top: 21px;
    margin: 2%;
    font-size: 22px;
    background: rgba(15, 15, 15, 0.351);
    border: 2px solid #232323;
    border-radius: 10px; 
    font-weight: 800;
    /* width: auto; */
}

#textPrice #prefix {
    text-align: center;
    padding: 6px;
    /* border-radius: 50%; */
    color: #fff;
}

#textPrice #zeroCount {
    color: #ffffff;
    padding: 0 10px 0 0;
}

#textmoney {
    position: relative;
    top: 9px;
    font-size: 22px;
    float: right;
    background: #d64040;
    padding: 10px;
    border-radius: 10px;
    font-weight: 800;
}

#textmoney #prefix {
    padding: 5px;
    border-radius: 50%;
    color: #fff;
}

#textmoney #zeroCount {
    color: #ffffff;
}

::-webkit-scrollbar {
    position: relative;
    width: 2px;
}

::-webkit-scrollbar-thumb {
    position: absolute;
    width: 5px;
    border-radius: 5px;
}

::-webkit-scrollbar-track {
    display: block;
    width: 2px;
    background-color: transparent;
}


#warning {
    padding: 10px;
    text-align: center;
    display: none;
    position: absolute;
    width: 410px;
    color:white;
    background: rgba(156, 156, 156, 0.568);
    border: 2px solid #232323;
    left: 2%;
    top:80%;
    position: absolute;
    border-radius: 10px;
    border-radius: 10px;
}

    #modbuttons {
        margin-top: 5px;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    
    #modbuttons div:hover {
        opacity: 0.5;
    }

    #modyes {
        padding: 3px 30px;
        background: #69c5a9;
        border-radius: 5px;
    }
    #modno {
    padding: 3px 30px;
    background: #282828;
    border-radius: 5px;
    }