@import url('https://fonts.googleapis.com/css?family=Oswald');
body,td,th { background: #161922; background-image: url("background.png"); background-repeat: no-repeat; background-attachment: fixed; background-position: center; font-size: 11px; font-family: arial; color: #666; cursor:default; vertical-align:baseline; outline:0; line-height:1; margin:0; padding:0; word-wrap: break-word; }
a,a:link,a:visited,a:active,a:hover { font-family: arial; font-size:11px; color:#666; text-decoration:none; }
div,span,applet,object,iframe,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr { border:0; outline:0; font-size:100%; vertical-align:baseline; background:transparent; margin:0; padding:0; }
::-webkit-scrollbar { width: 0; }

#align {
	width: 530px;
	top: 50%;
	left: 50%;
	position: fixed;
	transform: translate(-50%,-50%);
}


.loader {
  width: 500px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  position: absolute;
  top: 95%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Oswald', sans-serif;
  text-shadow: -1px 2px 8px rgba(78, 28, 164, 0.58);
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 200;
  color: #730f8c;
  letter-spacing: 0.2em;
}
.loader1 {
  width: 500px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  position: absolute;
  top: 95%;
  
  left: 49.5%;
  transform: translate(-50%, -50%);
  font-family: 'Oswald', sans-serif;
  text-shadow: -1px 2px 8px rgba(87, 28, 164, 0.58);
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 200;
  color: #ffff00;
  letter-spacing: 0.2em;
}
.loader::before, .loader::after {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  background-color: #ffffff;
  position: absolute;
  animation: load .9s infinite alternate ease-in-out;
}
.loader::before {
  top: 0;
}
.loader::after {
  bottom: 0;
}


@keyframes load {
  0% {
    left: 0;
    height: 30px;
    width: 15px;
  }
  50% {
    height: 8px;
    width: 40px;
  }
  100% {
    left: 500px;
    height: 30px;
    width: 15px;
  }
}


.music-info {
	width: 15%;
    border-radius: 4px;
    margin: 40px 50px 0 0;
    padding: 12px;
    background-color: #000000;
    background: #000000;
    color: white;
	font-family: 'Oswald', sans-serif;
    float: right;
	letter-spacing: 0.1em;
	font-weight: 10;
	line-height: 15px;
	opacity: 0.5;
}

