html {
	overflow-x: hidden !important;
	overflow-y: hidden !important;
	background: transparent !important;
}

body {
	background: transparent !important;
}

#notifications {
	top: 50px;
	right: 100px;
	width: 500px;
	font-size: 12px;
	color: rgba(255,255,255,0.6);
	position: absolute !important;
	font-family: Arial,Helvetica,sans-serif;
}

#notifications b {
	color: rgba(255,255,255,0.8);
}

#sucesso {
	float: left;
	padding: 7px 15px;
 	line-height: 20px;
 	margin: 0 0 10px 10px;
	background: rgba(80,120,20,0.7);
}

#negado {
	float: left;
	padding: 7px 15px;
 	line-height: 20px;
 	margin: 0 0 10px 10px;
	background: rgba(160,25,25,0.7);
}

#aviso {
	float: left;
	padding: 7px 15px;
 	line-height: 20px;
 	margin: 0 0 10px 10px;
	background: rgba(130,90,20,0.7);
}

#importante {
	float: left;
	padding: 7px 15px;
 	line-height: 20px;
 	margin: 0 0 10px 10px;
	background: rgba(20,70,120,0.7);
}