@import url('https://fonts.googleapis.com/css?family=Signika&display=swap&subset=latin-ext');

* {
	font-family: 'Signika', sans-serif;
	margin: 0;
	padding: 0;
	font-size: 16px;
	word-wrap: break-word;
	color: rgb(255,255,255,1);
/*	text-shadow: 2px 2px 7px rgba(255,255,255,0.25); */
}

.no-grow {
	flex-grow: 0;
}

em {
	font-style: normal;
}

#app {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: #fff;
}

.chat-window {
	position: absolute;
	margin: 25px 0 0 25px;
	width: 40%;
	height: 268px;
}

.chat-messages {
	position: relative;
	height: 95%;
	overflow: hidden;

}

.chat-input {
	position: absolute;
	top: 290px;
	left: 15px;
	width: 40%;
	box-sizing: border-box;
}

.prefix {
	color: #fff;
	text-shadow: 2px 1px rgba(255, 255, 255, 0.1);
	position: absolute;
	margin-top: 5px;
	font-weight: 400;
	background-color: rgba(0, 0, 70, 0.201);
	padding: 5px;
	border-radius: 5px;
}

textarea {
	background: transparent;
	display: block;
	box-sizing: border-box;
	padding: 13px 0 0 95px;
	color: #fff;
	width: 100%;
	border: 0;
	overflow: hidden;
}

textarea:focus, input:focus {
	outline: none;
}

.msg {
	width: 100%;
	float: left;
	font-family: calibri;
	font-size: 21px;

}

.multiline {
	white-space: pre-line;
}