*{margin: 0; padding: 0;}


html{
    width: 100%;
    height: 100%;
}

body{
    width: 100%;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    user-select: none;  
    overflow: hidden;
}

#actionmenu{
    width: 100%;
    height: 100%;
    cursor: url(https://cdn.discordapp.com/attachments/755894314365878394/756939449681707041/cursor.png);
    display: none;
}

#container{
    width: 1020px;
    height: 620px;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    
    -webkit-perspective: 1000px;
    perspective: 1000px;
}
#fechar{
    float: right;
    position: relative;
    top: -30px;
    right: 10px;
    font-size: 80px;
}
#fechar:hover{
    color: #f03000;
}
/* RG */
#identidade{
    width: 400px;
    height: 300px;
    float: left;
    margin-bottom: 20px;
    margin-right: 20px;
    transform: rotateX(1deg) rotateY(11deg);
    border-radius: 10px;
    background: rgba(0,0,0,1.0)
}
#topo{
    width: 100%;
    height: 80px;
    border-radius: 10px 10px 0 0;
}
#name{
    height: 80px;
    width: 50%;
    background: #000000;
    border-radius: 10px 0 0 0;
    font-size: 15px;
    text-align: center;
    color: #fff;
    border-top: 5px solid #e64d07;
    border-bottom: 5px solid #e64d07;
    float: left;
}
#name b{
    position: relative;
    top: 20px;
    width: 115px;
    left: 30px;
    float: left;
}
#name img{
    width: 70px;
    border-radius: 50%;
    border: 5px solid #050505;
    height: 70px;
    position: relative;
    left: 30px;
    float: right;
}
#passaporte{
    float: left;
    height: 80px;
    width: 50%;
    border-radius: 0 10px 0 0;
    font-size: 15px;
    text-align: center;
    color: #fff;
    border-top: 5px solid #e64d07;
    border-bottom: 5px solid #e64d07;
}
.itemRG{
    width: 95%;
    margin-left: 2%;
    color: #fff;
    border-left: 4px solid #e64d07;
    margin-top: 15px;
}
.itemRG z{
    margin-left: 10px;
}
.itemRG span{
    float: right;
}
.itemRG img{
    float: right;
    margin-right: 10px;
}
/* BAÚS */

#bau{
    width: 400px;
    height: 300px;
    margin-right: 20px;
    float: left;
    transform: rotateX(1deg) rotateY(13deg);
    border-radius: 10px;
    background: rgba(0,0,0,0.7)
}

#bau div{
    color: #fff;
    font-size: 15px;
    letter-spacing: 6px;
    text-align: center;
    margin-top: 10px;
}
#itensbau{
    height: 200px;
    width: 90%;
    margin-left: 20px;
    overflow: auto;
}

.itemBau{
    width: 120px;
    height: 120px;
    margin-left: 15px;
    float: left;
    border-radius: 10px;
    background: rgba(25, 25, 25,0.8);
}
#qtItemBau{
    float: left;
    margin-left: 5px;
    font-family: 'Montserrat', sans-serif;
}
.nomeItemBau{
    width: 100%;
    height: 45px;
    background-image: linear-gradient(to top, #ff9cc769, #ff9cc735, #ff9cc735, #ff9cc700);
    position: relative;
    top: 18px;
    border-radius: 0 0 10px 10px;
float: left;
}
.nomeItemBau z{
    text-align: center;
    font-size: 11px !important;
    position: relative;
    top: 15px;
    letter-spacing: 0px;
}



#textoPesoBau{
    position: relative;
    top: 23px;
    font-size: 10px;
}
#textoPesoBau{
    font-size: 10px !important; 
    letter-spacing: 0px !important;
}
#pesoBau{
    width: 80%;
    height: 12px;
    margin-left: 40px;
    border-radius: 10px;
    background: rgba(0,0,0,0.8);
}
#pesoBau span{
    height: 12px;
    width: 98%;
    border-radius: 10px;
    display: block;
    background: #e64d07;
}

/* INVENTARIOS */

#inventario{
    margin-left: 5px;
    width: 595px;
    height: 620px;
    float: right;
    margin-bottom: 20px;
    border-radius: 10px;
    background: rgba(0,0,0,0.7)
}
#inventario div{
    color: #fff;
    font-size: 15px;
    letter-spacing: 6px;
    text-align: center;
    margin-top: 10px;
}

.item{
    width: 90px;
    height: 90px;
    margin-left: 15px;
    float: left;
    border-radius: 10px;
    background: rgba(25, 25, 25,0.8);
}
#qtItem{
    float: left;
    margin-left: 5px;
    
    letter-spacing: 0px;
}
#itens{
    height: 500px;
    width: 95%;
    margin-left: 20px;
    overflow: auto;
}
.nomeItem{
    width: 100%;
    height: 40px;
    background-image: linear-gradient(to top, #ff9cc769, #ff9cc735, #ff9cc735, #ff9cc700);
    position: relative;
    top: 17px;
    border-radius: 0 0 10px 10px;
float: left;
}
.nomeItem z{
    text-align: center;
    font-size: 10px;
    position: relative;
    top: 10px;
    letter-spacing: 0px;
}


#peso{
    width: 80%;
    height: 12px;
    margin-left: 61px;
    border-radius: 10px;
    background: rgba(0,0,0,0.8);
}
#peso span{
    height: 12px;
    width: 98%;
    border-radius: 10px;
    max-width: 100%;
    display: block;
    background: #e64d07;
}

.hover{
    width: 200px;
    height: 100px;
    background: rgba(0, 0, 0, 0.8);
    font-size: 12px;
    position: absolute;
    top: 170px;
    padding: 10px;
    margin-left: -80px;
}
.hover hr{
    width: 95%;
    border-color: #f8c362;
    margin-left: 2.5%;
}
.imgDesc{
    margin-top: 10px;
    margin-left: 10px;
    width: 50px;
    height: 50px;
    float: left;
}
.itemDesc{
    width: 125px;
    height: 50px;
    float: left;
    color: #fff;
    text-align: center;
    line-height: 20px;
    margin-left: 5px;
    margin-top: 5px;
}
#imgPeso{
    width: 20px;
    margin-top: 3px;
    height: auto;
    float: left;
}

#textPeso{
    float: left;
    color: #fff;
    font-size: 14px;
    margin-left: 10px;
    line-height: 30px;
}



/* Largura da barra de rolagem */
::-webkit-scrollbar {
    width: 10px;
}

/* Fundo da barra de rolagem */
::-webkit-scrollbar-track-piece {
    background-color: rgb(0, 0, 0);
}

/* Cor do indicador de rolagem */
::-webkit-scrollbar-thumb:vertical,
::-webkit-scrollbar-thumb:horizontal {
    background-color: #e64d07;
    border-radius: 10px;
}

/* Cor do indicador de rolagem - ao passar o mouse */
::-webkit-scrollbar-thumb:vertical:hover,
::-webkit-scrollbar-thumb:horizontal:hover {
    background-color: #750d10;
}


#possui, #total, #barra{
    float: left;
    font-size: 11px !important;
    letter-spacing: 0px !important;
}

.item{
    font-size: 11px !important;
    letter-spacing: 1px !important;
    background: #2c2c2ca4;
}
#qtItem{
    letter-spacing: 0px !important;
    font-size: 11px !important;
}
#textoPeso{
    position: relative;
    top: -10px;
    left: 255px;
    font-size: 10px;
}
#textoPeso{
    font-size: 8px !important; 
}

#quantidade{
    width: 300px;
    height: 210px;
    background: #0e0e0ea4;
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 99;
    color: #fff;
    font-size: 15px;
    float: left;
    text-align: center;
    border-radius: 10px;
}
#quantidade hr{
    width: 90%;
    height: -3px;
    position: relative;
    margin: auto;
    color: #e64d07;
}
#second{
    position: relative;
    left: 70px;
    top: 20px;
}
#quantidade input{
    width: 100px;
    float: left;
    text-align: center;
    height: 27.05px;
    border: 1.5px solid #e64d07;
    margin-left: -2px;
    margin-right: -2px;
    background: #3c383a;
    color: #fff;
}
#quantidade input::placeholder{
    color: #fff;
    font-size: 10px;
}
.botaoQt{
    width: 30px;

    line-height: 30px;
    height: 30px;
    float: left;
    background: #e64d07;
    color: #fff;
    font-weight: bold;
    border-radius: 0px 5px 5px 0px;
}
#terceira{
    float: left;
    position: relative;
    left: -65px;
    top: 50px;
}
#praMenos{
    border-radius: 5px 0px 0px 5px;

}
#terceira button{
    width: 83px;
    float: left;
    text-align: center;
    height: 26.9px;
    border: 1.5px solid #e64d07;
    font-size: 13px;
    color: #fff;
    margin-left: 2px;
    border-radius: 5px ;
    background: #3c383a;

}
#terceira #confirm{
    color: #ffffff;
    background: #e64d07;
    border: 1.5px solid #e64d07;
}
#terceira #confirm:hover{
    color: #ffffff;
    border: 1.5px solid #000;
    background: #000;
}

#terceira button:hover{
    border: 1.5px solid #000;
    background: #000;

}
#quantidade b{
    color: #ffffff;
    line-height: 30px;
    font-size: 15px;
    text-align: center;
    float: left;
    margin-left: 20px;
}

#fecharModal{
    float: right;
    margin-right: 10px;
    margin-top: 6px;
}

.itemBau{
    width: 100px;
    height: 100px;
}


#botoes{
    display: none;
    position: absolute;
    right: -155px;
    top: 180px;
    width: 125px;
}

#botoes button{
    float: left;
    background: #00000055;
    width: 120px;
    color: #fff;
    font-size: 12px;
    margin-bottom: 10px;
    
    height: 40px;
    line-height: 40px;
    border: 0;
    border-radius: 15px;
    transform: rotateX(1deg) rotateY(-23deg);
}


#botoes i{
    line-height: 40px;
    font-size: 20px;
}